*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   

}
body{
    background-color: #d9d9d9;
}
img{
    opacity: 1;
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'PT Serif', serif;
    font-size: 1.3vw;

    
}

.nav-item{
    padding: 1.5vw;
}
.alink{
    padding: 13px 14px;
    color: black;
    text-decoration: none;
    transition: 0.4s;
 
}
.alink:hover{
    background-color: #fcb103;
    font-size: 1.2em;

}

.searchbutton{
    height: 80px;
    /* background-color: #fcb103; */
    display: flex;
    justify-content: space-between;


}
.search-icon{
    position: absolute;
    top: 18px;
    right: 405px;
    width: 71px;
    height: 48px;
    padding-left: 23px;
    font-size: 30px;
    background-color: black;
}
.s-item{
    padding: 16px;
    

}
.search input[type=text] {
    border-radius: 4%;
    padding: 4px 2px;
    border: none;
    margin: 18px 10px;
    font-size: 1.5vw;
    width: 30vw;
    height: 48px;
  }
  
  .deal{
      margin-top: 115px;
  }
  .deal-items{
      display: flex;
      margin-top: 25px;
      justify-content: center;
  }

  .bestdeal{
      border: 1px solid black;
      margin: 2px 13px;
  }

.pDeals{
    padding: 5px;
    color: white;
    background-color: red;
    width: 90px;
    font-family: 'PT Serif', serif;

}

.b-text{
    padding-left: 19px;
}
.price{
    font-size: 24px;
    padding-left: 15px;
}

.btnDeal{
    width: 135px;
    padding: 4px;
    margin-left: 30px;
    margin-bottom: 5px;
    color: #fff;
    background-color: black;
    border-radius: 7px;

}
.google-map{
    margin-top: 6em;
}

footer{
    background-color: #f2f2f2;
    margin-top: 100px;
    color: rgb(53, 37, 7);
}

.flex-footer{
    display: flex;
    padding: 55px 0px 55px 30px;
    justify-content: space-between;


}
.footer-help{
    padding-top: 5px;
    padding-left: 20px;
}

.list-footer-items{
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}
/* .footer-details{
    padding: 3px;
} */

.c-footer{
    margin: 10px;
}

.socialmedia{
    font-size: 45px;
    margin-right: 15px;
}

/* games-collection */

.game-cont{
    margin: 64px 0px;
    background-color: #d9d9d9;
    padding: 5em;
}
.game-head-row{
    margin: 2em;
    padding: 2em;

}
.game-row{
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    background-color: #f2f2f2;
}

.game-outer{
    padding: 55px;
    margin-top: 100px;
    background-color: #8080ff;
}

.game-container-form{
   margin-left:240px;
  
   padding: 45px;


}
.custom-form{
    width: 70%;
    line-height:2;
}
/* CD Page */


/* User form */

.user_login{
    margin: 45px 3px 0px 322px;
}

/* Login Form */
.login_form{
    margin-left: 165px;
}
.register_flex{
    display: flex;
    justify-content: space-between;
}

.register_linkflex{
    margin-right: 19em;
}