*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Serif', serif;
   

}
body{
    background-color: #fff6f6;
    
}
img{
    opacity: 1;
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'PT Serif', serif;
    font-size: 1.3vw;

    
}

.nav-item{
    padding: 1.5vw;
}
.alink{
    padding: 13px 14px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
   
 
}
.alink:hover{
    /* background-color: #fcb103; */
    /* font-size: 1.2em; */
    text-decoration: underline;
    transition: 0.4s;
    color: blue;

}



.searchbutton{
    height: 90px;
    background: linear-gradient(90deg, rgba(48,41,159,1) 0%, rgba(0,0,0,1) 0%, rgba(77,154,154,1) 0%, rgba(5,78,60,1) 0%, rgb(192 189 245) 0%, rgba(0,255,175,1) 100%);
    display: flex;
    justify-content: space-between;


}
.search-icon{
    position: relative;
    top: 14px;
    right: 33px;
    width: 71px;
    height: 48px;
    padding-left: 33px;
    font-size: 30px;
}
.s-item{
    padding: 16px;
    

}
.search input[type=text] {
    padding: 4px 20px;
    border: 2px solid black;
    margin: 18px 10px;
    font-size: 1.5vw;
    width: 24vw;
    height: 48px;
  }
  
  .home_collec{
      margin-top: 85px;
  }
  .home-margin{
      margin-top: 6rem;
  }

.home-color{
    font-size: 1.2em;
    padding: 35px;
    border-radius: 21px 10px 0px 81px;
    background: linear-gradient(90deg, rgba(48,41,159,1) 0%, rgba(219,27,27,0.5326505602240896) 0%, rgba(15,156,156,1) 0%, rgba(13,62,129,0.025647759103641476) 0%, rgba(221,225,231,1) 0%, rgba(253,255,254,1) 100%, rgba(4,0,0,1) 100%, rgba(73,102,93,1) 100%, rgba(23,24,23,1) 100%, rgba(255,255,255,1) 100%, rgba(22,16,140,1) 100%);
}

.show_more{
    float: right;
    text-decoration: none;
}
.show_more p a{
    text-decoration: none;
    font-size: 17px;
}

.home-image{
    width: 400px;
    height: 380px;
    border-radius: 19px 60px;
}
.google-map{
    margin-top: 6em;
}


 /*  Footer Css */
footer{
    /* background-color: #f2f2f2; */
    margin-top: 100px;
    color: rgb(53, 37, 7);
    border-top: 1px solid rgb(187, 180, 180);
}

.flex-footer{
    display: flex;
    padding: 55px 0px 55px 30px;
    justify-content: space-between;


}
.footer-help{
    padding-top: 5px;
    padding-left: 20px;
}

.list-footer-items{
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}
/* .footer-details{
    padding: 3px;
} */

.c-footer{
    color: 	#281415;
    margin: 10px;
    font-size: 1.2em;
    text-decoration: none;
}

.socialmedia{
    font-size: 45px;
    margin-right: 15px;
}

/* games-collection */

.game-cont{
    margin: 64px 0px;
    background-color: #fff6f6;
    padding: 5em;
}
.game-head-row{
    display: flex;
    margin: 2em;
    padding: 2em;

}
.game-row{
    display: flex;
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    background-color: #f2f2f2;
}

.f-flex{
    display: flex;
    justify-content: center;
}
.game-outer{

    padding: 55px;
    margin-top: 100px;
    background-color: #ffffff8c;
    border-radius: 9px;
}

.custom-form{
    width: 100%;
    line-height:2;
}

/* CD Page */


/* User form */

.user_login{
    margin: 45px 3px 0px 322px;
}

/* Login Form */
.login_form{
    margin-left: 165px;
}
.register_flex{
    display: flex;
    justify-content: space-between;
}

.register_linkflex{
    margin-right: 19em;
}


/* Pagination */

.pag-cus{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.forget-pass{
    margin-left: 20em;
}
.product_v{
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.image_coll{
    width: 99vw;
}

.btn_p{
    float: right;
}

.display_P_I{
    width: 72%;
}


.sort-font{
    text-decoration: none;
    color: black;
    padding: 3px;
}
select {
    padding: 5px;
    border: none;
}

.sort{
    display: flex;
    margin-right: 8em;
    margin-top: 2em;
    justify-content: flex-end;
}
.des-con{
    padding: 60px;
    line-height: 25px;
    font-size: 20px;
}

.sec{

    background: linear-gradient(90deg, rgba(48,41,159,1) 0%, rgba(219,27,27,0.5326505602240896) 0%, rgba(15,156,156,1) 0%, rgba(13,62,129,0.025647759103641476) 0%, rgba(221,225,231,1) 0%, rgba(253,255,254,1) 100%, rgba(4,0,0,1) 100%, rgba(73,102,93,1) 100%, rgba(23,24,23,1) 100%, rgba(255,255,255,1) 100%, rgba(22,16,140,1) 100%);
}
.about{
    display: flex;
    justify-content: center;
    padding: 4em;
    font-size: 1.3em;
}
.about_desc{
    padding:0px 100px 100px 100px ;
    font-size: 1.4em;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .login_user_name{
        display: none;
    }
    .f-flex{
        flex-direction: column;
    }
    }